body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%; 
	max-height: 100%; 
	font-family:Sans-serif;
	line-height: 1.5em;
}
#nav{
	position: absolute;
	top: 0;
	bottom: 0; 
	left: 0;
	width: 230px; /* Width of navigation frame */
	height: 100%;
	overflow: hidden; /* Disables scrollbars on the navigation frame. To enable scrollbars, change "hidden" to "scroll" */
	background-color: #3a4651;
}		
main{
	position: fixed;
	top: 0; 
	left: 230px; /* Set this to the width of the navigation frame */
	right: 0;
	bottom: 0;
	overflow: auto; 
	background-color: #d7dde4;
}
main h1{
	color: #4f5f6f;
}		
.innertube{
	margin: 15px; /* Provides padding for the content */
}
.item-container ul.item-list{
	margin:0 15px;
	padding:0;
}
.item-container ul.item-list li.item{
	background-color: #ffffff;
	border-bottom: 1px solid #d7dde4;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	font-weight: 400;
	line-height: 22.4px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	overflow-wrap: break-word;
	text-align: left;
	-moz-box-direction: normal;
	-moz-box-orient: vertical;
	padding:10px;
	margin-left:0px;
}

	
p {
	color: #555;
}
nav h3{
	color:#85CE36;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}	
nav ul a, nav h4 a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}
nav ul a:hover, nav h4 a:hover{
	color: #fff;
}		
/*IE6 fix*/
* html body{
	padding: 0 0 0 230px; /* Set the last value to the width of the navigation frame */
}	
* html main{ 
	height: 100%; 
	width: 100%; 
}
div.item-controls{
	float:right;
}
form#additem{
	display:block;
	margin-left:15px;
}
#additem input[type='text']{
	width:85%;
	padding:0.5em;
}
#additem input[type='submit']{
	padding:0.5em 1em;
	margin-left:0.5em;
}
#addproject input[type="text"],
#addproject textarea{
	display:block;
	width:85%;
	padding:0.5em;
	margin:10px 0;
}
#addproject textarea{
	height:150px;
}
form#addproject{
	margin-left:15px;
}
#addproject input[type='submit']{
	padding:0.5em 1em;
}