#sidebar{
	width:10%;
	height:100em;
	margin-right:1em;
	float:left;
	border-right:solid 3px limegreen;
}
li a{
	display:block;
	padding: 0.25em 0.5em;
	text-decoration:none;
	border:solid 1px limegreen;
}
li a:hover{
	background-color:yellow;
}
section{
	display:block;
	margin-left:10%;
	margin-top:0.5em;
}
#main div.item{
	width:100%;
	border:solid 1px limegreen;
	padding: 0.25em 0;
}
#main div.item a{
	text-decoration:none;
}
#main div.sortpanel{
	float:right;
}
#main div.item button:hover {
	background-color:yellow;
}
#add-item input[type="text"]{
	display:block;
	width:70%;
	margin:0 auto 0.5em;
	padding:0.25em 0;
}
div#add-item{
	padding-top:0.5em;
}
